.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f05d5e;
    z-index: 999;
    width: 8em;
    border-radius: 5px;
  
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    
        li {
            padding: 8% 0%;
            border-top: 1px solid rgb(194, 194, 194);
            text-align: center;
            color: white;

            &:first-child {
                border: none;
            }
            
            &:hover {
                background-color: rgb(185, 160, 129);
                cursor: pointer;
            }
            
            &.inactive {
                pointer-events: none;
                color: rgb(151, 151, 151);
            }
        } 
    }      
}
  
  