/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MINE STARTS HERE */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Redressed&display=swap");

h2,
h3,
p,
li,
input,
button {
  font-family: "Nunito";
}

h1 {
  font-family: "Redressed";
  font-size: 3.5em;
  font-weight: 500;
  color: #272932;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

.game-wrap {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2%;
}

.score {
  color: white;
  background-color: #272932;
  padding: 1%;
  border-radius: 5px;
}

.image-container img {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.705);
  border-radius: 5px;
  width: 1000px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f05d5e;
  z-index: 999;
  width: 8em;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8% 0%;
  border-top: 1px solid rgb(194, 194, 194);
  text-align: center;
  color: white;
}

li:first-child {
  border: none;
}

li:hover {
  background-color: rgb(185, 160, 129);
  cursor: pointer;
}

.marker {
  position: absolute;
  color: white;
  background-color: #272932;
  padding: 5px;
  border-radius: 5px;
}

li.inactive {
  pointer-events: none;
  color: rgb(151, 151, 151);
}

.scores-area {
  margin: 0 auto;
}

.scores-area-inner {
  margin: 0 30%;
  border-radius: 10px;
  background-color: #272932;
  color: white;
}

.show-leaderboard {
  display: flex;
  justify-content: center;
  padding: 4% 0;
}

.show-leaderboard h2 {
  margin-right: 10%;
}

.scores-area button {
  width: 7em;
  font-weight: 700;
  background-color: #f05d5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.high-score-form {
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.high-score-form h3 {
  margin-bottom: 5%;
}

.high-score-form p {
  grid-row: 2/3;
  grid-column: 1/2;
}

.high-score-form form {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
}

.high-score-form input {
  margin-right: 5%;
}

.background-modal {
  background-color: rgba(0, 0, 0, 0.705);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.leader-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 600px;
  padding: 3%;
}

.leaderboard-entry {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 1% 0;
}

.leader-modal div:last-child {
  margin-bottom: 0;
}

.leaderboard-entry p {
  font-size: 2em;
  margin-left: 2%;
}

.fa-xmark {
  width: 30px;
  height: 30px;
  color: #f05d5e;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
