.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: bisque;
  z-index: 999;
  width: 8em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8% 0%;
  border-top: 1px solid grey;
  text-align: center;
}

li:first-child {
  border: none;
}

li:hover {
  background-color: rgb(185, 160, 129);
  cursor: pointer;
}
